.carousel {
    height: 500px;
}

.carousel img {
    height: 500px;
}

.carousel-caption {
    margin-left: 10%;
}

.header-btn {
    padding: 10px 40px;

}

.explore-btn {
    padding: 10px 20px;
}

.package-btn {
    padding: 10px 30px;
}

.card-width {
    width: 90%;
}
.footer-style{
    height: 250px;
    padding-top: 120px;
}